@inject IModalDialogService ModalDialogService
@inherits EditBase

<div class="simple-form">

    <div class="form-group">
        <label for="first-name">Name</label>
        <input @bind="UserLink.UserLink.Text" type="text" class="form-control" id="first-name" placeholder="@UserLink.UserLink.Text" />
    </div>

    <div class="form-group">
        <label for="last-name">Url</label>
        <input @bind="UserLink.UserLink.Url" type="text" class="form-control" id="last-name" placeholder="@UserLink.UserLink.Url" />
    </div>

    <button @onclick="Ok_Clicked" class="btn btn-primary">Submit</button>
    <button @onclick="Cancel_Clicked" class="btn btn-secondary">Cancel</button>
</div>

@code {

}