@page "/"
@inherits IndexBase
@using MyHomePage.Components;
<h1>Hello, Benjamin!</h1>

Welcome to your HomePage.

<Search OnFilter="DoFilter" />
<AddLink />
@if (ULinks != null && ULinks.Count>
0)
{
    @foreach (var ul in ULinks)
    {
        <Link LinkUpdate="UpdateLinksUI" UserLinkVM="@ul" />
    }
}