@page "/"
@inherits IndexBase
@using MyHomePage.Components;

<Search OnFilter="DoFilter" />

@if (ULinks != null && ULinks.Count > 0)
{
    @foreach (var ul in ULinks)
    {
        <Link UserLinkVM="@ul" />
    }
}

<h1>Hello, world!</h1>

Welcome to your new app.