@inherits SearchBase
<div class="search-container">
    <div class="fakebox-search-icon"></div>
    @*The oninput is needed to enable getting the text value w/o the text box losing focus*@
    <input type="text" class="searchAndFilter" id="inputTextSearchFilter" @bind-value="SearchText" @bind-value:event="oninput"
           placeholder="Search or filter (esc to clear)"
           @onkeypress="KeyWasPressed"
           @onkeydown="KeyWasPressed" />
    @if (SearchProviders != null && SearchProviders.Count > 0)
    {
        @* TODO: Change this to InputSelect and see if the bug where the value is not bound initially is fixed *@
        <select class="cleanSelect" id="searchselect" @bind="SearchFormatUrl">
            @foreach (var sp in SearchProviders)
            {
                <option value="@(sp.SearchUrl)">@(sp.DisplayName)</option>
            }
        </select>
    }
</div>